@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300,400italic);

html,body{
    padding-top:0;
    margin:0;
    background-image: url("../bg.png");
    background-repeat: repeat;
    font-family: Lato;
}

.white-box{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0.09,0,0,0);
    border:1px solid #CCCCCC;
    border-radius: 3px;
    padding:20px;
    display:table;
    margin:0px auto;
    min-width: 50%;
    min-height: 200px;
}
.starspos{
    position: relative;
    bottom: 8px;
}
.star{
    padding: 0px;
    margin-left: -4px;
    font-size: 13pt;
    position: relative;
    left: 6px;
}
.yellow{
    color:goldenrod;
}
.gray{
    color:gray;
}
#restaurant_name{
    margin-top:8px;
    font-size:17pt;
    font-weight:bold;
    text-overflow: clip;
    text-overflow: ellipsis;
    overflow: hidden;
    height:28px;
    width:240px;
}
#price_range{
    position: relative;
    top: 3px;
    font-size: 12pt;
}
.top-restaurant-box{
    width:100%;
    border:1px solid #d4d4d4;
    border-radius: 4px;
    background-color:white;
    margin-bottom:10px;
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.09);
    height:150px;
}
.restaurant_status{
    margin-left: 10px;
    /* top: 8px; */
    position: relative;
    top: 6px;
}
#reviews-count{
    font-size: 10pt;
    font-weight: normal;
    /* top: -2px; */
    bottom: 2px;
    /* right: 9px; */
    margin-left: 1px;
}
.top-restaurant-box:hover{
    /*width:100%;*/
    /*border:whitesmoke 1px solid;*/
    /*border-radius: 4px;*/
    /*background-color:white;*/
    /*margin-bottom:10px;*/
    border:1px solid #CCCCCC;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.09);
    /*height:150px;*/
}
.top-restaurant-box a{
    text-decoration: none;
    color:black;
    font-size:large;
}
.top-restaurant-box img{
    width: 100%;
    margin-top: 22px;
    vertical-align: middle;
}
#middle-section{
    padding-top:0px;
    margin-top:0px;
}
.btn-upload{
    position: relative;
    margin-top: 37px;
}
.btn-upload input{
    position: absolute;
    width:120%;
    height:120%;
    top:-5px;
    left:-5px;
    opacity: 0;
}
.m-b-30{
    margin-bottom:30px;
}
.m-t-30{margin-top: 30px;}
#main_logo a{
    font-size:55pt;
    color:black;
    /*margin:auto 50px;*/
    margin-left:20px;
    position: relative;
}
#main_logo a:hover{
    color:black;
    text-decoration: none;
}
.slidehome{
    height: 300px;
    background-image: url("../homepage.jpg");
    /*background-color: #0088ff;*/
}
.centerup{
    position: absolute;
    left: 38%;
    top:90px ;
    z-index: 30;
}
.w-300{
 width: 350px;
}
.inline{
    display: inline-block;
}
.btn-search{
    border-radius: 0;
    margin-left: -10px;
    margin-top: -3px;
    z-index: 10;
}
.main{
    margin-top: 51px;
}
#main-search-term{
    border:1px solid darkgray;
}
.pages{
    margin-top: 85px;
}
.navbar-nav>li>a.cart{
    background-color: #9A0000;
    border-radius: 50px;
    padding: 10px 8px;
    margin-top: 4px;
}
#nav_bar_right {
    text-align: right;
    margin:0px 0px 0px 0px;
}
#nav_bar_right button{
    background-color: #e8e8dc;
    color:black;
    font-size:15pt;
}
#nav_bar_right button:hover{
    text-decoration: underline;
}
#shopping_cart #img{
    width:50px;
    margin-right:15px;
    margin-top: 28px;
}
#shopping_cart {
   position:relative;
   float:right;
}
#profilelinkimg{
    width:40px;
    position:relative;
    float:right;
    margin-right: 25px;
    margin-top: 30px;
}
#profilelink{
    float: right;
    width: 65px;
}
/*Main Page CSS*/
footer {
    margin-top: 50px;
}
.search-result{
    border:2px solid black;
    height:20%;
}
.search-result #logo{
    float:left;
    height:150px;
    margin-right:10px;
}

.search-result #price_range span{
    font-size:medium;
    color:green;
}
.search-result #restaurant_rating span{
    font-size:medium;
    color:orange;
}
.search-result p{
    margin:0px;
}
.search-result #price_range{
    font-size:medium;
}
#amount{
    background-color:whitesmoke;
}
#slider-range{
    width:95%;
}
.search-filter{
   background-color:whitesmoke;
   width:100%;
    padding:5px;
}
.search-result label{
    float:left;
}
#search-filter-title{
    font-size:x-large;
    margin:5px;
    margin-left:5px;
}
.search-filter{
    border:2px solid darkgray;
}
.search-filter #search-filter-form .row{
    margin-top:10px;
    margin-left:20px;
}
.offer-box{
   background-color:ghostwhite;
    font-size:15pt;
    text-align: center;
    margin-bottom:10px;
}
#offer-picture {
    height: 200px;
}
#offer_title{
    font-size:17pt;
}
#offer_price span{
    color:red;
}
#offer_description{
padding-left:30px;
    text-align: left;
}

.menu_header {
    text-align: center;
}
.menu_header .restaurant-name{
    font-size:25pt;
}

.menu_header .menu_name{
    font-size:22pt;

}

.offer_price {
    font-size:22pt;
}
.items{

}
/*Profile Page*/
#left-side{

}
#left-side #profile-picture{
    display: block;
    width:100%;

}
#user-info-box{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0.09,0,0,0);
    border:1px solid #CCCCCC;
    border-radius: 3px;
    display:table;
    padding:0px;
}
.info-box-content{
    padding:10px;
}
#user-info-box #name{
    font-size:20pt;
    margin-top:0px;
}
#compliment{
    background-color: white;
    border-radius: 25px;
}
#compliment img{
    width:25px;
}

.activity{
    margin-bottom:10px;
    padding:10px;
    background-color: white;
}
.activity #picture{
    padding:5px;
    width:50px;
    height:50px;
}
.activity #content{
font-size:20pt;
}
.activity #date{
    position:relative;
    bottom:1px;
}
#activities-section #title{
    font-size: 19pt;
}

.fa{
    margin-left:10px;
}
#user-followers{
    font-size:x-large
}
#favorite-restaurants img,#favorite-offers img, #favorite-menus img{
    width:30%;
    margin:2px;
}
.followers {
margin:0px 0px 0px 0px;
    font-size:12pt;
    font-weight:bold;
}
.profile-list{
    margin:0px;
    margin-top:20px;
}
.bio{
    margin-top:5px;
}
.profile-list li{
    margin:0 20px;
}

/* Registeration Page */

.row .radios{
    text-align: center;
}


#registeration_page_content label{
    /*width:40%;*/
    /*display:inline-block;*/
}
#registeration_page_content label[id=question-user]{
    width:100%;
    text-align: center
}
#form-container{
    width:100%;
    margin:0 auto;
    text-align: center;
}
/*#form-container input{*/
    /*color:black;*/
    /*width:100%;*/
    /*font-size:large;*/
/*}*/
/*#form-container .form-group .opening_days .times{*/
    /*font-size: 7pt;*/
    /*width: 20%;*/
    /*margin-top: 10px;*/
    /*font-weight: bold;*/
/*}*/

.days-checkboxes{
   width:10%;

}
.times{
    width:50%;
}
.day-title{
    width:20%;
    padding:1px;
    font-size: 10pt;
    font-weight: bold;
}
.time-picker{
    width: 31%;
    padding: 0px;
    text-align: left;
    margin-left:15px;
}
.no-margin{
    margin:0px;
}
/*.opening_days{*/
    /*width:55%;*/
    /*float: right;*/
    /*text-align: left;*/
/*}*/

#submit-button{
    color:red;
}
select{
    width:100%;
    min-width: 100px;
    max-width: 400px;
}
select[id='cuisines']{
marign-right:9px;
}

/*Login Page*/
#login-page{
    /*text-align: center;*/
    /*background-color:#e8e8dc;*/
    /*border-radius: 25px;*/
    /*font-size:pt;*/
    border-radius: 4px;
    font-size:15pt;
    text-align: center;
}
#login-page .row{
    margin-top:10px;
}
#error{
    border-radius: 5px;
    padding:2px;

}

/*
Restaurants Pages
*/

/*
* Add Item Page style
*/

.form-add-item{
    border:1px solid black;
    border-radius: 25px;
    background-color:#e8e8dc;
    font-size:large;
}

.form-add-item .row{
}
.form-add-item .title{
    text-align: center;
}
.col-xs-4 #add_new_item_button{
    margin:0 auto;
}

/*Offers Page Style*/
.offer-list{
    border:1px solid black;

}
/*Offer Image*/
.offer-list #offer-img{
    /*margin-top:20px;*/
    width: 100%;
    border:2px solid #D3FBFF;
}
/*Offer's Title*/
.offer-list .offer-title p{
    margin:0px;
    font-size:x-large;
}
.offer-list .offer-dsec p{
    margin:0px;
    font-size:large;
}
.menu-page-container{
text-align: center;
}
.menu-page{
    margin-left:15%;
}
.menu-page .restaurant-name{
    font-size:x-large;
}
.menu-page .page-title{
    font-size:25pt;
}
.menu-page .offer-price{
    font-size:25pt;
}
.item{
    border-radius: 12px;
    margin-top:5px;
    background-color:white;
}
.col-xs-1{
    width:10%;
}
#item-img{
    width:100%;
}
.item-description p{
    text-align: left;
}

.padding0{
    padding:0px;
}
/*Add New Menu Page Styling*/
.add-menu-title{
    text-align: center;
}
.add-menu-title h3{
    font-size:30pt;
}
#add-new-menu p{
    font-size:x-large;
}
#add-new-menu .row{
    margin-top:10px;
}
#add-new-menu{
    margin-bottom:20px;
}
#menu-submit-button{
    background-color: #2ca02c;
    color:white;
}
.add-menu{
    background-color: ghostwhite;
}
/* MenusList page style*/
.menus-list{
    background-color:lightgray;
    border-radius: 12px;
}
.menu-box{
    border:1px solid lightgray;
    margin:0px;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    margin:6px;
}
.menu-box #menu-cover{
    width:100%;
}
.menu-box #menu-title{
    background-color:darkgray;
    color:white;
    font-size:14pt;
    margin:0px;
}
.menu-box #menu-description{
    background-color:#f2f2f2;
    color:orange;
    font-size:large;
    margin:0px;
}
.menu-box #menu-description{

}
.menus-list{
    text-align: center;
}
.menus{
    text-align: center;
}
.pagination{
    border:1px solid black;
    font-size:15pt;
}

/*
* write a reivew page
*/
.radio-text{
    font-size:18pt;
}
#review-form .row{
   margin-bottom: 2px;
}
#review-body{
    font-size:14pt;

}
