html,body{
    padding-top:0;
    margin:0;
    background-color: #f9f9f9;
}
.white-box{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0.09,0,0,0);
    border:1px solid #CCCCCC;
    border-radius: 3px;
    padding:20px;
    display:table;
    margin:0px auto;
    min-width: 50%;
    min-height: 200px;
}
.btn-upload{
    position: relative;
    margin-top: 37px;
}
.btn-upload input{
    position: absolute;
    width:120%;
    height:120%;
    top:-5px;
    left:-5px;
    opacity: 0;
}
.m-b-30{
    margin-bottom:30px;
}
.m-t-30{margin-top: 30px;}
#main_logo a{
    font-size:55pt;
    color:black;
    /*margin:auto 50px;*/
    margin-left:20px;
    position: relative;
}
#main_logo a:hover{
    color:black;
    text-decoration: none;
}
.slidehome{
    height: 300px;
    background-color: #0088ff;
}
.centerup{
    position: absolute;
    left: 38%;
    top:90px ;
    z-index: 30;
}
.w-300{
 width: 350px;
}
.inline{
    display: inline-block;
}
.btn-search{
    border-radius: 0;
    margin-left: -10px;
    margin-top: -3px;
    z-index: 10;
}
.main{
    margin-top: 51px;
}
.pages{
    margin-top: 85px;
}
.navbar-nav>li>a.cart{
    background-color: #9A0000;
    border-radius: 50px;
    padding: 10px 8px;
    margin-top: 4px;
}
#nav_bar_right {
    text-align: right;
}
#nav_bar_right button{
    background-color: #e8e8dc;
    color:black;
    font-size:15pt;
}
#nav_bar_right button:hover{
    text-decoration: underline;
}
#shopping_cart #img{
    width:50px;
    margin-right:15px;
    margin-top: 28px;
}
#shopping_cart {
   position:relative;
   float:right;
}
#profilelinkimg{
    width:40px;
    position:relative;
    float:right;
    margin-right: 25px;
    margin-top: 30px;
}
#profilelink{
    float: right;
    width: 65px;
}
/*Main Page CSS*/
footer {
    margin-top: 50px;
}
.search-result{
    border:2px solid black;
    height:20%;
}
.search-result #logo{
    float:left;
    height:150px;
    margin-right:10px;
}
.search-result #restaurant_name{
    font-size:x-large
}
.search-result #price_range span{
    font-size:medium;
    color:green;
}
.search-result #restaurant_rating span{
    font-size:medium;
    color:orange;
}
.search-result p{
    margin:0px;
}
.search-result #price_range{
    font-size:medium;
}
.search-filter{
   background-color:lightgray;;
    width:100%;
}
.search-result label{
    float:left;
}
#search-filter-title{
    font-size:x-large;
    margin:5px;
    margin-left:5px;
}
.search-filter{
    border:2px solid darkgray;
}
.search-filter #search-filter-form .row{
    margin-top:10px;
    margin-left:20px;
}
.offer-box #offer-picture{
    width:100%;
}
.offer-box #offer_title{
    font-size:x-large;
}
.offer-box #offer_price{
    font-size: x-large;
    color:red;
}
.offer-box{
    border:2px solid black;
    text-align: center;
}
.offer-box #offer_restaurant{
    font-size: medium;
}

/*Profile Page*/
#left-side{
 background-color: #e8e8dc;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
}
#left-side #profile-picture{
   width:90%;
    border-radius: 15px 15px 15px 15px;
    padding:5px;
}
#user-info-box{
    margin:10px;
    text-align: left;
}
#compliment{
    background-color: white;
    border-radius: 25px;
}
#compliment img{
    width:25px;
}
#user-info-box #user_username{
    font-size:25pt;
}
#user-info-box #user_bio{
    font-size:14pt;
    width:70%;
}
#user-info-box #user_location{
    font-size:12pt;
    color:darkblue;
}
#middle-section{
    border:1px solid #b9def0;
}
#activites-section{
    border:1px solid black;
}
#activity{
    border:1px solid green;
}
#activity-content{
    font-size:xx-large;
}
#activity-picture{
    width:20%;
    float:left;
    margin:10px;
}
#activity-date{

}
#user-followers{
    font-size:x-large;
}
#favorite-restaurants img,#favorite-offers img, #favorite-menus img{
    width:30%;
    margin:2px;
}


/* Registeration Page */

.row .radios{
    text-align: center;
}


#registeration_page_content label{
    /*width:40%;*/
    /*display:inline-block;*/
}
#registeration_page_content label[id=question-user]{
    width:100%;
    text-align: center
}
#form-container{
    width:100%;
    margin:0 auto;
    text-align: center;
}
/*#form-container input{*/
    /*color:black;*/
    /*width:100%;*/
    /*font-size:large;*/
/*}*/
/*#form-container .form-group .opening_days .times{*/
    /*font-size: 7pt;*/
    /*width: 20%;*/
    /*margin-top: 10px;*/
    /*font-weight: bold;*/
/*}*/

.days-checkboxes{
   width:10%;
    padding-right:0px;
}
.times{
    width:60%;
}
.day-title{
    width:20%;
    padding:0px;
    font-size: 8pt;
    font-weight: bold;
}
.time-picker{
    width: 31%;
    padding: 0px;
    text-align: left;
    margin-left:15px;
}
.no-margin{
    margin:0px;
}
/*.opening_days{*/
    /*width:55%;*/
    /*float: right;*/
    /*text-align: left;*/
/*}*/

#submit-button{
    color:red;
}
select{
    width:100%;
}
/*Login Page*/
#login-page{
    text-align: center;
    background-color:#e8e8dc;
    border-radius: 25px;
    /*font-size:pt;*/
}
#error{
    border-radius: 15px;
    padding:2px;
}

/*
Restaurants Pages
*/

/*
* Add Item Page style
*/

.form-add-item{
    border:1px solid black;
    border-radius: 25px;
    background-color:#e8e8dc;
    font-size:large;
}

.form-add-item .row{
}
.form-add-item .title{
    text-align: center;
}
.col-xs-4 #add_new_item_button{
    margin:0 auto;
}

/*Offers Page Style*/
.offer-list{
    border:1px solid black;

}
/*Offer Image*/
.offer-list #offer-img{
    /*margin-top:20px;*/
    width: 100%;
    border:2px solid #D3FBFF;
}
/*Offer's Title*/
.offer-list .offer-title p{
    margin:0px;
    font-size:x-large;
}
.offer-list .offer-dsec p{
    margin:0px;
    font-size:large;
}
.menu-page-container{
text-align: center;
}
.menu-page{
    margin-left:15%;
}
.menu-page .restaurant-name{
    font-size:24pt;
}
.menu-page .page-title{
    font-size:25pt;
}
.menu-page .offer-price{
    font-size:25pt;
}
.item{
    border:solid 2px black;
    margin-top:5px;
}
.col-xs-1{
    width:10%;
}
.item #item-img{
    width:100%;
}
.item-description p{
    text-align: left;
}

/*Add New Menu Page Styling*/
.add-menu-title{
    text-align: center;
}
.add-menu-title h3{
    font-size:30pt;
}
#add-new-menu p{
    font-size:x-large;
}
#add-new-menu .row{
    margin-top:10px;
}
#add-new-menu{
    margin-bottom:20px;
}
#menu-submit-button{
    background-color: #2ca02c;
    color:white;
}
.add-menu{
    background-color: ghostwhite;
}
/* MenusList page style*/
.menus-list{
    background-color:lightgray;
    border-radius: 12px;
}
.menu-box{
    border:1px solid lightgray;
    margin:0px;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    margin:6px;
}
.menu-box #menu-cover{
    width:100%;
}
.menu-box #menu-title{
    background-color:darkgray;
    color:white;
    font-size:14pt;
    margin:0px;
}
.menu-box #menu-description{
    background-color:#f2f2f2;
    color:orange;
    font-size:large;
    margin:0px;
}
.menu-box #menu-description{

}
.menus-list{
    text-align: center;
}
.menus{
    text-align: center;
}
.pagination{
    border:1px solid black;
    font-size:15pt;
}

/*
* write a reivew page
*/
.radio-text{
    font-size:18pt;
}
#review-form .row{
   margin-bottom: 2px;
}
#review-body{
    font-size:14pt;

}
